section.new-tweet > h2 {
  padding: 5px;
  margin: 5px;
}

form {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column
}

form label {
  margin-bottom: 3vh
}

form textarea {
  margin-bottom: 2vh
}

form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive
}

#error-banner {
  display: none;
  background-color: #FF0000
}
