section.tweet-container {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

section.tweet-container article.tweet:hover {
  font-weight: 900;
}

section.tweet-container article.tweet {
  width: 100%;
  padding: 0.5em;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
}

section.tweet-container header {
  width: 100%;
  padding: 0.5em;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

section.tweet-container div.user-name-avatar {
  display: flex;
  justify-content: space-between;
}

section.tweet-container span {
  padding: 0.25em;
}

section.tweet-container span.user-handle {
  color: rgb(173, 173, 173);
}

section.tweet-container p {
  width: 100%;
  padding: 0.5em;
  margin: 0;
  display: flex;
  border-style: none none solid none;
}

section.tweet-container footer {
  width: 100%;
  padding: 0.5em;
  font-size: 10px;
  display: flex;
  justify-content: space-between
}
